<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width: 600px; margin: 0 auto">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="
              border-spacing: 0;
              font-family: Arial, sans-serif;
              margin: 0 auto;
              padding: 24px;
              width: 100%;
              max-width: 500px;
            "
          >
            <tbody>
              <tr>
                <td>
                  <table style="margin-bottom: 40px; width: 100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <a
                            href="https://i.postimg.cc/gkktttmX/unnamed.png"
                            style="
                              font-family: Helvetica, Arial, sans-serif;
                              color: #0086bf;
                            "
                            target="_blank"
                          >
                            <img
                              src="https://i.postimg.cc/gkktttmX/unnamed.png"
                              style="display: block"
                              alt="8link"
                              width="200"
                              height="65"
                            />
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align: justify; word-break: break-word">
                  <table style="margin-bottom: 20px; width: 100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table
                            style="width: 100%; margin-bottom: 20px"
                            width="100%"
                            cellpadding="0"
                            cellspacing="0"
                          >
                            <tbody>
                              <tr>
                                <td>
                                  <strong
                                    style="
                                      font-family: Helvetica, Arial, sans-serif;
                                      color: #234567;
                                    "
                                    >Hi <%= user_firstname %>,</strong
                                  >
                                  <h1
                                    style="
                                      font-size: 26px;
                                      line-height: 30px;
                                      color: #054752;
                                      word-break: normal;
                                    "
                                  >
                                    You requested to reset your password
                                  </h1>
                                  <p style="font-size: 16px; color: #708c91">
                                    To reset your password, Use The OTP:
                                  </p>
                                </td>
                              </tr> 
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <center>
                            <table
                              style="
                                background-color: #00aff5;
                                color: #fff;
                                text-align: center;
                                /* border-radius: 48px; */
                                padding: 16px 24px;
                                border-color: transparent;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 1;
                              "
                              align="center"
                              cellspacing="0"
                              cellpadding="0"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <a
                                      style="
                                        color: white;
                                        text-decoration: none;
                                      "
                                      href=""
                                      ><%= otp_code %></a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </center>
                        </td>
                      </tr>

                      <tr>
                        <td style="padding-top: 20px">
                          <p style="font-size: 14px; color: #708c91">
                            If you did not request a password reset, please
                            ignore this email or contact support.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table width="100%" style="margin-bottom: 20px; width: 100%">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <div
                            style="
                              width: 100%;
                              height: 1px;
                              background-color: #ddd;
                            "
                          ></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td style="text-align: center">
                  <img
                    src="https://i.postimg.cc/gkktttmX/unnamed.png"
                    alt="8link_icon"
                    style="
                      display: block;
                      width: 90px;
                      height: auto;
                      margin-left: auto;
                      margin-right: auto;
                      margin-bottom: 10px;
                    "
                  />
                </td>
              </tr>
              <tr>
                <td style="text-align: center; font-size: 13px">
                  <a
                    href="https://i.postimg.cc/gkktttmX/unnamed.png"
                    style="color: #00aff5"
                    target="_blank"
                    >Goto</a
                  >
                  <span style="color: #00aff5">|</span>
                  <a
                    href="https://i.postimg.cc/gkktttmX/unnamed.png"
                    style="color: #00aff5"
                    target="_blank"
                    >FAQ</a
                  >
                </td>
              </tr>
              <tr>
                <td style="text-align: center">
                  <table
                    style="
                      max-width: 100%;
                      width: 100%;
                      text-align: center;
                      font-family: ArialMT, Arial, sans-serif;
                    "
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td style="text-align: center">
                          <p
                            style="
                              font-size: 10px;
                              color: #708c91;
                              text-align: center;
                              padding: 0;
                              margin-top: 10px;
                              margin-bottom: 2px;
                            "
                          >
                            This email was sent to you by ARPAN GUPTA
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
